body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}

/*Below is the navigation bar - Jaden*/ 

.navbar {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar .navbar1 {
  float: left;
}

.navbar .navbar1 .navbar2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .navbar1 .navbar2:hover {
  background-color: #fc0202;
}


/* This is the Menu - Jaden */

#menu{
  padding: 25px 0 25px 0;
}
#section1{
  padding: 25px 0 25px 0;
  text-align: center;
  font-size: 2rem;
  font-family: 'Courier New', Courier, monospace;
}
#menu_row{
  display: flex;
  padding: 0 100px 0 100px;
}
#menu_col{
  box-shadow: 2px 2px 2px #bbb;
  border: 1px solid #bbb;
  background-color: #fff;
  margin: 5px;
}
#menu_col h2{
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 5px;
}
#image{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid orange;
}
#image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;

  background-color: #02fc0e;
}