body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
}

/*Below is the navigation bar - Jaden*/ 

.navbar {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar .navbar1 {
  float: left;
}

.navbar .navbar1 .navbar2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .navbar1 .navbar2:hover {
  background-color: #02fc0e;
}