/*Below is the navigation bar - Jaden*/ 

body {
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 10px;
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navbar .navbar1 {
  float: left;
}

.navbar .navbar1 .navbar2 {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .navbar1 .navbar2:hover {
  background-color: #6b6b6b;
}

/* This is the Menu - Jaden */

#menu{
  padding: 25px 0 25px 0;
}

#description {
  text-align: center;
}

#section{
  padding: 25px 0 25px 0;
  text-align: center;
}

#menu_row{
  display: flex;
  padding: 0 100px 0 100px;
}

#menu_col{
  border: 1px solid lightgray;
  background-color: rgb(209, 209, 209);
  margin: 5px;
  flex: 1;
}

#menu_col h2{
  background-color: rgb(59, 59, 59);
  color: #fff;
  text-align: center;
  padding: 5px;
}

#image{
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

#image img{
  width: 100%;
  height: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}



/*Button styling by Lawton*/

.buttons {
  font-size: 1em;
	font-family: inherit;
	border: #333333 1px solid;
	width: 150px;
	background: #fff;
	background: -webkit-linear-gradient(top, #fff , #979797);
	background: -o-linear-gradient(bottom, #fff, #979797); 
	background: -moz-linear-gradient(bottom, #fff, #979797); 
	background: linear-gradient(to bottom, #fff , #979797); 
  border-radius: 5px;
}